.main {
  width: 100%;
  height: 100vh;
  font-family: "BMWTypeNextRegular";
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99999;
  background: #ffffff;
}

.main-header {
  border-bottom: 1px solid#262626;
  font-size: 22px;
  font-family: "BMWTypeNextBold";
  padding: 0 10px 35px 10px;
}

.mode-btn {
  width: 120px;
  height: 60px;
  border: 1px solid black;
  background: none;
  padding-top: 1rem;
  text-align: center;
}

.mode-btn input[type="radio"] {
  display: none;
}

.mode-btn:hover {
  background: #bbbbbb;
}

.mode-btn:active {
  background: #bbbbbb;
}

.more-driver {
  color: #1c69d4;
}

.option {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #b8b5b5;
  background-color: white;
  margin: 0;
}

.option input {
  display: none;
}

.options-header {
  border-bottom: 1px solid #b8b5b5;
}

.options {
  padding: 1rem 4rem;
}

.input-fields {
  padding: 3rem;
  text-align: center;
}

.month-view {
  height: 80%;
  overflow: auto;
}

.title {
  font-size: 17px;
  font-weight: bold;
}

.month {
  padding-left: 60px;
}

.continue-button {
  margin-top: 50px;
}

.buttons {
  margin-top: 125px;
}

.rotated-header {
  border-bottom: 1px solid #262626;
  justify-content: space-evenly;
  height: 5rem;
}

@media screen and (max-width: 666px) {
  .rotated-header p {
    text-align: center;
    font-size: 18px;
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 667px) {
  .rotated-header p {
    font-size: 20px;
    width: 40%;
    margin: 10px auto;
  }
}

.rotated-header button {
  width: 230px;
  height: 3rem;
  color: white;
  border: 0;
  background: #0653b6;
  margin: auto;
}

.rotated-header button:active {
  background: #1c69d4;
}

.main-btn {
  background: #0653b6;
  width: 216px;
  height: 55px;
  color: white;
  font-size: 24px;
  line-height: 28px;
}

.main-btn:active {
  background: #1c69d4;
}

.start-button {
  margin-top: 65px;
}

.start-button:first-child {
  margin-top: 260px;
}

.continue-button {
  margin-top: 250px;
}

.back-month {
  width: 100%;
  height: 46px;
  cursor: pointer;
  background: none;
  padding-top: 10px;
  border-bottom: 1px solid #262626;
}

.back-btn {
  position: absolute;
  top: 15px;
  left: 115px;
  width: 18px;
  height: 18px;
  background: url(BMW-pos_nav_previous_18.png);
}

.month-text {
  margin-left: 15px;
  font-size: 17px;
}

.general-btn {
  width: 230px;
  height: 3rem;
  color: white;
  font-size: 19px;
  border: 0;
  font-family: "BMWTypeNextBold";
}

.confirm:active {
  background: #1c69d4;
}

.confirm {
  background: #0653b6;
}

.manual {
  background: #666666;
}

.manual:active {
  background: #bbbbbb;
}

.month-header {
  font-size: 17px;
  font-weight: bold;
}

.days {
  padding-top: 15px;
  height: 260px;
  width: 75%;
  position: relative;
  margin: auto;
}

.date {
  margin: 50px 1rem 1rem 1rem;
  border-top: 1px solid#262626;
  font-family: "BMWTypeNextBold";
}

.time-slots .slot {
  height: 50px;
  padding-top: 15px;
  cursor: pointer;
  border-top: 1px solid #e6e6e6;
}

.time-slots .slot:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.time-slots {
  height: 55%;
  overflow-y: scroll;
}

.weeks {
  height: 45px;
  padding-left: 30px;
  font-size: 14px;
}

.week {
  width: 37px;
  height: 42px;
  padding-top: 12px;
}

.hrs .hr-line {
  height: 1px;
  border-top: 1px solid #e6e6e6;
}

.hrs {
  width: 85%;
  margin: auto;
}

.week-view {
  height: 50px;
  border-top: 1px solid #e6e6e6;
  position: absolute;
  width: 79%;
  margin-left: 15px;
  padding-top: 6px;
  padding-left: 17px;
}

.day {
  padding-top: 6px;
  width: 37px;
  height: 37px;
  cursor: pointer;
  margin: 0;
}

.day input {
  display: none;
}

.day:hover {
  background: #1c69d4;
  border-radius: 50%;
  color: white;
}

.week-no {
  font-size: 10px;
  font-weight: bold;
  left: -20px;
  top: -8px;
  position: absolute;
}

.week-no-view {
  width: 100%;
  overflow-x: auto;
}

.flow-input {
  height: 3rem;
  border-bottom: 1px solid#262626;
  margin: 2rem;
}

.flow-input input {
  border: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

::placeholder {
  color: #bbbbbb;
  opacity: 1;
}

.personal-info {
  line-height: 16px;
}

.camera {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.rdp-picker {
  margin: auto;
}

.rdp-column-container:nth-child(3) {
  display: none;
}

.close-duration {
  background: #ffffff;
  color: black;
  border: 1px solid black;
  margin: auto;
}

.appointments {
  height: calc(100% - 275px);
}

.appointment {
  height: 100%;
  overflow-y: auto;
}

.appointment .slots {
  list-style: none;
}

.appointment .hr-line {
  border-top: 1px solid #e6e6e6;
}

.appointment .hr-line span {
  position: absolute;
  left: -2rem;
  transform: translate(-50%, -50%);
}

.appointment .views {
  width: 66%;
  margin: auto;
  list-style: none;
  position: relative;
  padding: 1rem 0 0 0;
}

.appointment .event-view {
  position: absolute;
  width: 100%;
  top: 0;
  background: #666666;
  color: white;
}

.appointment .event-view span {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  left: 50%;
}