.month-header {
    font-size: 17px;
    font-weight: bold;
    padding-left: 100px;
}

.days {
    margin-top: 20px;
    height: 300px;
    width: 100%;
    position: relative;
}

.hr-line {
    height: 1px;
    border-top: 1px solid #e6e6e6;
}


.hrs {
    width: 75%;
}